{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section>
    <div class="text-center top-div py-5">
      <div class="container">
        {% if category %}
          <h1>{{ category.name }}</h1>
          <p><a href="{% url 'frontend:index' %}">Home/</a><a href="{% url 'frontend:products' category.id %}">{{ category.name}}</a>
            <!-- <a href="#menwear">Men Wear/</a><a href="tshirt"
            style="color:black;">T-Shirt</a> -->
          </p>
        {% endif %}
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <form action="{% url 'frontend:filter_product' %}" id="filter_product_form" method="post">
            {% csrf_token %}
          <ul id="accordion" class="accordion">
            <li>
              <div class="link"> Design<i class="fa fa-plus" aria-hidden="true"></i></div>
              <ul class="submenu prod_menu">

                {% if all_design %}
                  {% for key,value  in all_design.items %}
                  <li><label>
                    <input type="checkbox" id="check" value="{{ key }}" name="Design" 
                      {% if design_check %} 
                        {% for each_design in design_check %} 
                          {% if each_design == key %} 
                            checked 
                          {% endif %}
                        {% endfor %} 
                      {% endif %}
                      {% if value <= 0 %} 
                        disabled
                      {% endif %}
                      onclick='filter_ajax(this,"design")'>
                      {{ key }}<span>({{ value }})</span></label>
                  </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </li>
            <li>
              <div class="link">Color<i class="fa fa-plus" aria-hidden="true"></i></div>
              <ul class="submenu prod_menu">
                {% if all_color %}
                  {% for key ,value  in all_color.items %}
                  <li>
                    <label>
                    <input type="checkbox" id="check" value="{{ key }}" name="Color" onclick='filter_ajax(this,"color")' 
                    {% if color_check %} 
                      {% for each_design in color_check %} 
                        {% if each_design == key %} 
                          checked 
                        {% endif %}
                        
                      {% endfor %} 
                    {% endif %}
                    {% if value <= 0 %} 
                        disabled
                    {% endif %} 
                    >
                    {{ key }}<span>({{value}})</span></label>
                  </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </li>
            <li>
              <div class="link">Size<i class="fa fa-plus" aria-hidden="true"></i></div>
              <ul class="submenu prod_menu">
                {% if all_size %}
                  {% for key,value in all_size.items %}
                  <li>
                    <label>
                    <input type="checkbox" id="check" value="{{ key }}" name="Size"
                    {% if size_check %} 
                      {% for each_design in size_check %} 
                        {% if each_design == key %} 
                          checked 
                        {% endif %} 
                         
                      {% endfor %} 
                    {% endif %}
                    {% if value <= 0 %} 
                        disabled
                    {% endif %}
                    onclick='filter_ajax(this,"size")'>
                    {{ key }}<span>({{value}})</span></label>
                  </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </li>
            <li>
              <div class="link">Price<i class="fa fa-plus" aria-hidden="true"></i></div>
              <ul class="submenu prod_menu">
                <li>
                  <label>
                  <input type="checkbox" id="check" value="{{ key }}" name="price" onclick='filter_ajax(this,"price")'>
                  Under $100<span>(750)</span></label>
                </li>
                <li>
                  <label>
                  <input type="checkbox" id="check" value="{{ key }}" name="price" onclick='filter_ajax(this,"price")'>
                  $100-$500<span>(680)</span></label>
                </li>
                <li>
                  <label>
                  <input type="checkbox" id="check" value="{{ key }}" name="price" onclick='filter_ajax(this,"price")'>
                  $500-$100<span>(180)</span></label>
                </li>
                <li>
                  <label>
                  <input type="checkbox" id="check" value="{{ key }}" name="price" onclick='filter_ajax(this,"price")'>
                  $1000-$1500<span>(60)</span></label>
                </li>
              </ul>
              <li>
              <div class="link">Material<i class="fa fa-plus" aria-hidden="true"></i></div>
              <ul class="submenu prod_menu">
                {% if all_material %}
                  {% for key , value in all_material.items %}
                  <li>
                    <label>
                    <input type="checkbox" id="check" value="{{ key }}" name="Material" 
                      {% if material_check %} 
                        {% for each_design in material_check %} 
                          {% if each_design == key %} 
                            checked 
                          {% endif %} 
                        {% endfor %} 
                      {% endif %}
                      {% if value <= 0 %} 
                        disabled
                      {% endif %} 
                      onclick='filter_ajax(this,"material")'>
                    {{ key }}<span>({{value}})</span></label>
                  </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </li>
          </ul>
        </form>
          <ul>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static './images/jean-slider.png' %}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <form action="">
                      <a href="{% url 'frontend:coming_soon' %}"><button class="jeans-btn" type="button">Shop Men Jeans</button></a>
                    </form>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{% static './images/jean-slider.png' %}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <form action="">
                      <a href="{% url 'frontend:coming_soon' %}"><button class="jeans-btn" type="button">Shop Men Jeans</button></a>
                    </form>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{% static './images/jean-slider.png' %}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <form action="">
                      <a href="{% url 'frontend:coming_soon' %}"><button class="jeans-btn" type="button">Shop Men Jeans</button></a>
                    </form>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </ul>
          </form>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
          <div class="d-flex tshirt-col-2">
            <p>{{ count }} Results</p>
            <p class="right_option"><i class="fab fa-microsoft"></i> <i class="fas fa-list"></i>
              <span>
                <select class="default-select">
                  <option value="0">Sort By: Default</option>
                  <option value="1">Popularity</option>
                  <option value="2">Average Rating</option>
                  <option value="3">Newness</option>
                  <option value="4">Price: low to high</option>
                  <option value="5">Price: high to low</option>
                </select>
              </span>
            </p>
          </div>
          <hr class="hr-margin">
          <p class="active-text my-2">Active Filters: 
            <span id="active_filter">
              {% for each in active_filter_list %}          
                <span class="filter-12">{{ each }} 
                  <!-- <i class="fas fa-times"></i> -->
                </span>
              {% endfor %}
            </span>
          </p>
          <hr>
          <!-- t shirts -->
          <div class="row mt-5 clothe-card-media">
            {% if request.user.is_authenticated %}
              <script>
                document.token = '{{ token }}'
              </script>
            {% else %}
              <script>
                document.token = null
              </script>
            {% endif %}
            {% if product_list %}
              {% for each in product_list %}
                <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 mt-3 cus-card-87 ">
                  <!-- <a href="singlepdct.html" class="link-card"> -->
                    <div class="card card-border">
                    <div class="wishlist-card-icon">
                      {% if request.user.is_authenticated %}
                        {% if each.wish_list %}
                            <button class="product-slider__fav js-fav" id='wishlist{{each.id}}' onclick="heart_wishlist(this,'{{ each.name }}','{{ each.id }}')"><span class="heart is-active"></span></button>
                        {% else %}
                            <button class="product-slider__fav js-fav" id='wishlist{{each.id}}' onclick="heart_wishlist(this,'{{ each.name }}','{{ each.id }}')"><span class="heart"></span></button>
                        {% endif %}
                      {% else %}
                          <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="product-slider__fav js-fav" id='wishlist{{each.id}}' ><span class="heart"></span></button>
                      {% endif %}
                    </div>
                      <a href="{% url 'frontend:each_products' each.id %}"> <img class="card-img-top bg-image" src="{{ each.image.url }}" alt="Card image cap"></a>
                      <div>
                        <!-- <span class="top-card-text">3 Color Options</span> -->
                        <span class="star-images" style="float:right;">
                          
                          {% with ''|center:each.rating_star as range %}
                              {% for i in range %}
                                <i class="fas fa-star"></i>
                              {% endfor %}
                          {% endwith %}  
                          {% with ''|center:each.zero_rating_star as negative_range %}
                              {% for i in negative_range %}
                              <i class="far fa-star"></i>
                              {% endfor %}
                          {% endwith %}  
                        </span>
                        
                      </div>
                      <hr>
                      <div>
                        <a  class="card-text img-text" href="{% url 'frontend:each_products' each.id %}">{{ each.name }}</a>
                      </div>
                      <div>
                        <p><span>₹{{ each.discount_price}}</span>
                          <i class="fas fa-shopping-bag"></i></p>
                      </div>
                    </div>
                  <!-- </a> -->
                </div>
              {% endfor %}
            {% else %}
            <p>No Product found with this name</p>
            {% endif %}

          </div>

        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="demo mt-5">
      <nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
          {% if product_list.has_other_pages %}
            <ul class="pagination">
              {% if product_list.has_previous %}
                <li><a href="?page={{ product_list.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in product_list.paginator.page_range %}
                {% if product_list.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if product_list.has_next %}
                <li><a href="?page={{ product_list.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}
            <!-- <li class="page-item">
              <a href="#" class="page-link" aria-label="Previous">
                <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="index.html">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a href="#" class="page-link" aria-label="Next">
                <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
              </a>
            </li> -->
        </ul>
      </nav>
    </div>
  </div>

  <script>
    function filter_ajax(e,type){
      console.log(e.value,type)
      document.getElementById('filter_product_form').submit()
    }
    $('.prod_menu input[type=checkbox]').each(function(){
      var isChecked = $(this).prop('checked');
      if(isChecked){
        $(this).closest('.submenu').show();
        $(this).closest('.submenu').closest('li').addClass('open')
      }
    });
    console.log();
  </script>
  {% endblock content %}